.header {
  display: flex;
  height: 10vh;
  background-color: black;
  color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  font-family: robotic;
}
