// ======Colors========

$header-color: black;
$theme-color: #7b260d61;
$input-bottom-default-color: #fff;
$input-bottom-hover-withoutdata-color: rgba(255, 255, 255, 0.7);
$input-bottom-hover-withdata-color: rgb(111, 191, 115);

// ======Sizes========
$header-height: 8vh;

// ======Fonts========
$header-font: 'Long Cang', cursive;
