@import 'variables';
@import 'mixins';
@include header-font('Long+Cang');

.App {
  background-color: $theme-color;
  .header {
    display: flex;
    background-color: $header-color;
    height: $header-height;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 60%;
      height: 7vh;
      line-height: 30px;
      color: white;
      font : {
        family: $header-font;
        size: 2em;
        weight: bold;
      }
    }
  }
  .main {
    display: flex;
    height: 92vh;
  }
}
